<div class="container mb-5 mt-5">

    <div class="row">
        <div class="col-md-12">
        <h1 h1 class="text-center text-sencondary" >Atualizar meu usuário </h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-10">

        <div class="form-group">
            <label label for="nome">Nome</label>
            <div input [(ngModel)]='user.nome' class="form-control" type="text" name="nome" id="nome" placeholder="Seu nome">
        </div>

        <div class="form-group">
            <label label for="usuario">Usuário </label>
            <div input [(ngModel)] ='user.usuario' class="form-control" type="text" name="usuario" id="usuario" placeholder="Seu usuário">
        </div>

        <div class="form-group">
        <label label for="foto">Link da Foto</label>
        <div input [(ngModel)]='user.foto' class="form-control" type="text" name="foto" id="foto" placeholder="Link da sua foto">
        </div>

        <div  class="form-group">
            <label label for="senha">Senha</label>
            <div input  (input)='confirmSenha($event)' class="form-control" type="password" name="senha" id="senha" placeholder="Sua senha">
        </div>

        <div class="form-group">
            <label label  for="confirmSenha">Confirmar Senha</label>
            <div input  [(ngModel)]= 'user.senha' class="form-control" type="senha" name="confirmSenha" id="confirmSenha"
            placeholder="Confirme sua senha">
        </div>

        <div class="form-group">
            <label for="tipo"> Tipo de usuário</label>
            <select class="form-control"name="tipo" id ="tipo"(alterar)='tipoUser($event)'>
            <option> Selecione um tipo de usuário:</option>
            <option value="normal">Normal</option>
            <option value="adm">Administrador</option>
            </select>
        </div>

        <div class="d-flex justify-content-center">
            <button button type="submit"class="btn btn-danger mr-4" routerLink='/inicio'>Cancelar</button>
            <button button type="submit"class="btn btn-success"(click)='atualizar()'>Atualizar</button>
        </div>

        </div>
    </div>

</div>
