#img-bg{
    background-image: url(../../assets/img/pc.jpg); /* referencia a imagem para a pagina html */

    min-height: 695px; /* temanho certo da tela */

    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* não repetir imagem */
    background-size: cover; /* Preencher todo espaço que tem com a imagem */
}


/*  */

/*  */

/*  */

/*  */